<html>

<title>Login - Time Slot Booking App</title>

<h1>Time Slot Booking App</h1>
<h2>Login</h2>

<form method="POST">
    <table border="1">

        <tr>
            <td>Username</td>
            <td><input type="text" name="username" placeholder="Username" required></td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input type="password" name="password" placeholder="Password" required></td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="submit">Login</button>
            </td>
        </tr>

    </table>

    <p style="color:red;">{{ error_message }}</p>
</form>

<a href="{{ url_for('signup') }}">No account? Click here to create one</a>

</html>